.DS_Store
**/.DS_Store

node_modules/
**/node_modules/
dist/
**/dist/
.next/
**/.next/

.env
.env.*
!.env.example
!.env.production.example
**/.env
**/.env.*
!**/.env.example
!**/.env.production.example

*.log
*** End Patch
